<h1>
  Siffd - your daily colander of events!
</h1>

<%= flash[:error] %>

<% form_tag(:action => :search) do %>
  <%=text_field_tag(:search_text)%>
  &nbsp;near&nbsp;
  <%=text_field_tag(:location)%>
  <%=submit_tag(:go)%>
<% end %>
